*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

.wrap{
    position: relative;
    min-height: 100%;
}

a{
    text-decoration: none;
}

button {
    background: linear-gradient(to bottom, #d1c44f, #f5ee5d);
    border: 0.5px solid rgba(128, 125, 125, 0.37);
    cursor: pointer;
    color: #333;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 3px;
    margin-bottom: 5px;
}

/*Шапка*/
.header{
    width: 100%;
    height: 100px;
    background-color: transparent;
    position: fixed;
   /* background: url(img/sport.png);
    background-repeat: round; */
    display: flex;
}


.logo{
    flex: 8;
    align-items: center;
    display: flex;
    padding-left: 5%;
}

#logo{
    color: #D5AF00;
}

.menu{
    flex: 4;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header>.menu>p{
    flex: 1;
    display: flex;
    align-items: center;
}

.header>.menu>p>a{
    justify-content: center;
    color: white;
    flex: 12;
    text-align: center;
    text-decoration: none;
}

.header>.menu>p>a:hover {
    border: 1px solid #333;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background: linear-gradient(to bottom, rgba(213, 175, 0, 0.99), #e9e9ce);
    border-radius: 50px;
}

/*Контент*/
.content{
    width: 100%;
    background-color: rgba(218, 165, 32, 0.13);
}

.slider{
    width: 100%;
    height: 500px;
    background-color: white;
}

.select{
    background: #af8900;
    background: linear-gradient(to top, rgba(213, 175, 0, 0.99), rgba(5, 16, 36, 0.62));
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    height: 72px;

}

.cell{
    flex: 3;
    justify-content: center;
    text-align: center;
    width: 75px;
}

.cell>p{
    width: 75px;
    margin: 0 auto;
}

.cell>p>a{
    color: #333;
}

.cell>p:hover{
    border: 0.5px solid #333;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background: goldenrod;
    border-top: none;
    border-bottom: none;
}

.photo{
    display: flex;
    height: 187px;
    background-color: rgba(128, 128, 128, 0.25);
}

.desc{
    flex: 4;
    justify-content: center;
    text-align: center;
}

.desc>p>img{
    border-top: none;
    border-bottom: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    margin-top: 5px;
}

.inst{
    display: flex;
}

.video{
    flex: 6;
    justify-content: center;
    padding: 0 30px;

}

.text{
    flex: 6;
    justify-content: center;
    padding: 0 30px;
}

/*Подвал*/
.footer{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: grey;
}
